
build/Debug/Cygwin-Windows/Dummy-Panel.o

build/Debug/Cygwin-Windows/Dummy-Panel.o.d

build/Debug/Cygwin-Windows/welcome.o

build/Debug/Cygwin-Windows/welcome.o.d

dist/Debug/Cygwin-Windows/gdummypanel.exe

nbproject/Makefile-Debug.mk

nbproject/Makefile-Release.mk

nbproject/Makefile-impl.mk

nbproject/Makefile-variables.mk

nbproject/Package-Debug.bash

nbproject/Package-Release.bash

nbproject/configurations.xml

nbproject/project.xml

nbproject/private/launcher.properties

nbproject/private/private.xml

nbproject/private/cpp_standard_headers_indexer.cpp

nbproject/private/configurations.xml

nbproject/private/c_standard_headers_indexer.c

nbproject/private/Makefile-variables.mk

.dep.inc

.vs/GDummyPanel/v15/.suo

.vs/GDummyPanel/v15/Browse.VC.db

.vs/GDummyPanel/v15/ipch/AutoPCH/GDUMMYPANEL-9ed5380c/BUTTON-6a815b1c/BUTTON.ipch

.vs/GDummyPanel/v15/ipch/AutoPCH/GDUMMYPANEL-9ed5380c/DUMMY-PANEL-93e37b0c/DUMMY-PANEL.ipch

Debug/GDummyPanel.Build.CppClean.log

Debug/GDummyPanel.log

Debug/GDummyPanel.tlog/CL.command.1.tlog

Debug/GDummyPanel.tlog/CL.read.1.tlog

Debug/GDummyPanel.tlog/CL.write.1.tlog

Debug/GDummyPanel.tlog/GDummyPanel.lastbuildstate

Debug/GDummyPanel.tlog/unsuccessfulbuild

Debug/vc141.idb

Debug/vc141.pdb

GDummyPanel.sln

GDummyPanel.vcxproj

GDummyPanel.vcxproj.filters

GDummyPanel.vcxproj.user

gdummypanel.exe.stackdump

.vs/GDummyPanel/v15/ipch/AutoPCH/GDUMMYPANEL-9ed5380c/COMPLEXWINDOW-4759aaf0/COMPLEXWINDOW.ipch

x64/Debug/Button.obj

x64/Debug/ComplexWindow.obj

x64/Debug/Dummy-Panel.obj

x64/Debug/GDummyPanel.exe

x64/Debug/GDummyPanel.log

x64/Debug/GDummyPanel.ilk

x64/Debug/GDummyPanel.pdb

x64/Debug/GDummyPanel.tlog/CL.command.1.tlog

x64/Debug/GDummyPanel.tlog/CL.read.1.tlog

x64/Debug/GDummyPanel.tlog/CL.write.1.tlog

x64/Debug/GDummyPanel.tlog/GDummyPanel.lastbuildstate

x64/Debug/GDummyPanel.tlog/link.command.1.tlog

x64/Debug/GDummyPanel.tlog/link.read.1.tlog

x64/Debug/GDummyPanel.tlog/link.write.1.tlog

x64/Debug/vc141.idb

x64/Debug/vc141.pdb

Makefile
